* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.App {
  display: grid;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #30475e, #8bbccc);
  height: 100vh;
}

#drum-machine {
  background-color: rgba(10, 30, 60, 0.6);
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 10px;
  backdrop-filter: blur(20px);
}

#display {
  font-family: Georgia, serif;
  font-size: 1.4rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222831;
  background-color: #cdd5e0;
  text-align: center;
  height: 40px;
  margin-bottom: 25px;
}

.controls-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
  #drum-machine {
    padding: 30px;
  }

  #display {
    font-size: 1.2rem;
    height: 35px;
    margin-bottom: 20px;
  }
}